.quote {
  position: relative;
  color: white;
  font-size:20px;
}

.quote-content {
  padding-left: 40px;
  display: inline-block;
  opacity: 0.8;
}

.quote-marks {
  font-family: Arial;
  font-size: 100px;
  position: absolute;
  top: -50px;
  color:white;

}

.quote-author {
  padding-left: 40px;
  display: inline-block;
  opacity: 0.8;
  font-size: 20px;
}
